.subscribe-button {
  background-color: rgb(200, 0, 0);
  color: white;
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 30px;
  transition: 0.15s;
  vertical-align: top;
}

.subscribe-button:hover {
opacity: 0.8;
}
.subscribe-button:active {
opacity: 0.5;
}

.join-button {
  background-color: rgb(255, 255, 255);
  border-color: rgb(41, 118, 211);
  border-radius: 2px;
  color: rgb(41, 118, 211);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  margin-right: 8px;
  padding: 9px;
  padding-left: 16px;
  padding-right: 16px;
  transition: background-color 0.15s, color 0.15s;
}

.join-button:hover {
background-color:rgb(41, 118, 211) ;
color:rgb(255, 255, 255) ;


}
.join-button:active {
opacity: 0.7;
}

.tweet-button {
  background-color: rgb(2, 158, 255);
  color: white;
  border: none;
  height: 36px;
  width: 70px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 10px;
  transition: .15s;
  vertical-align: top;
}

.tweet-button:hover {

box-shadow: 0 5px 10px rgba(0, 0, 0, .25);


}
.tweet-button:active {
opacity: 0.7;
}